@{
    ViewBag.Title = "Application Description";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This applications was created using MVC.Net and bootstrap.  It's purpose is to keep track of employee
    accounts, and also has a rating system for each employees performance.</p>
