@{
    ViewBag.Title = "ERS 2015";
}

<div class="jumbotron">
    <h1>ERS 2015</h1>
    <p class="lead">Employee Database and Rating System</p>
    <p><a href="http://employeeratesystem8256.azurewebsites.net/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Employee Database</h2>
        <p>
            Our employee database keeps track of employee performance by using a rating system.  It also keeps
            track of pertinent employee information.  Click the button below to view this database.
        </p>
        <p><a class="btn btn-default" href="http://employeeratesystem8256.azurewebsites.net/Employee/Index">Employees &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>What we offer</h2>
            <p>
                ERS 2015 is a web-based app that can be utilized by any company. ERS is primarily built for sales and auditing companies to track the highest performaers in their departments.
            </p>
        </div>
    </div>
 </div>